// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.navbar {
  background-color: rgb(238, 238, 238);
  border-bottom: 1px solid rgb(218, 218, 218);
  h4 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.text-decoration-none {
  color: black;
  &:hover {
    color: black;
  }
}